Repository visjs/vis-dev-utils: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(screenshots): prevent infinite blocking
  .circleci/config.yml
  @types/index.d.ts
  rollup.config.js
  src/generate-examples-index/index.ts
  src/generate-examples-index/screenshot-script.js
  src/generate-examples-index/screenshot-script.js.txt
  test/generate-examples-index/basic.test.ts
  test/generate-examples-index/examples/example-alert.html
  test/generate-examples-index/examples/example-confirm.html
Due: eslint --fix, prettier --write

fix(screenshots): prevent infinite blocking (#3)
  .circleci/config.yml
  @types/index.d.ts
  rollup.config.js
  src/generate-examples-index/index.ts
  src/generate-examples-index/screenshot-script.js
  src/generate-examples-index/screenshot-script.js.txt
  test/generate-examples-index/basic.test.ts
  test/generate-examples-index/examples/example-alert.html
  test/generate-examples-index/examples/example-confirm.html
Due: eslint --fix, prettier --write

feat: add rudimentary verification
  package-lock.json
  package.json
  src/generate-examples-index/index.ts
  test/generate-examples-index/basic.test.ts
  test/generate-examples-index/broken-examples/example-1.html
  test/generate-examples-index/broken-examples/examples
  test/generate-examples-index/examples/example-1.html
  test/generate-examples-index/examples/example-2.html
  test/generate-examples-index/examples/example-alert.html
  test/generate-examples-index/examples/example-confirm.html
  test/generate-examples-index/examples/subdir/example-3.html
  test/generate-examples-index/examples/subdir/example-4.html
Due: eslint --fix, prettier --write

feat: add rudimentary verification (#4)
  package-lock.json
  package.json
  src/generate-examples-index/index.ts
  test/generate-examples-index/basic.test.ts
  test/generate-examples-index/broken-examples/example-1.html
  test/generate-examples-index/broken-examples/examples
  test/generate-examples-index/examples/example-1.html
  test/generate-examples-index/examples/example-2.html
  test/generate-examples-index/examples/example-alert.html
  test/generate-examples-index/examples/example-confirm.html
  test/generate-examples-index/examples/subdir/example-3.html
  test/generate-examples-index/examples/subdir/example-4.html
Due: eslint --fix, prettier --write

feat: export header and Babel preset
  .babelrc
  .eslintignore
  .gitignore
  babel-preset/index.js
  lib/header.js
  package-lock.json
  package.json
  rollup.config.js
  src/module/header.ts
  src/module/index.ts
  tsconfig.declarations.json
  tsconfig.internal.json
Due: eslint --fix, prettier --write

feat: export header and Babel preset (#5)
  .babelrc
  .eslintignore
  .gitignore
  babel-preset/index.js
  lib/header.js
  package-lock.json
  package.json
  rollup.config.js
  src/module/header.ts
  src/module/index.ts
  tsconfig.declarations.json
  tsconfig.internal.json
Due: eslint --fix, prettier --write

feat(generate-examples-index)!: complete overhaul
  src/generate-examples-index/cli.ts
  src/generate-examples-index/content-builder/builder.ts
  src/generate-examples-index/content-builder/common.ts
  src/generate-examples-index/content-builder/format.ts
  src/generate-examples-index/content-builder/html/index.template.css
  src/generate-examples-index/content-builder/html/index.template.html
  src/generate-examples-index/content-builder/html/index.ts
  src/generate-examples-index/content-builder/html/style.template.css
  src/generate-examples-index/content-builder/index.ts
  src/generate-examples-index/content-builder/md/index.ts
  src/generate-examples-index/content-builder/playground/codepen.template.html
  src/generate-examples-index/content-builder/playground/codepen.ts
  src/generate-examples-index/content-builder/playground/data.ts
  src/generate-examples-index/content-builder/playground/index.ts
  src/generate-examples-index/content-builder/playground/jsfiddle.template.html
  src/generate-examples-index/content-builder/playground/jsfiddle.ts
  src/generate-examples-index/content-builder/screenshots/index.ts
  src/generate-examples-index/content-builder/screenshots/screenshot-script.js.txt
  src/generate-examples-index/index.template.html
  src/generate-examples-index/index.ts
  src/generate-examples-index/paths.ts
  src/generate-examples-index/types.ts
  test/generate-examples-index/basic.test.ts
Due: eslint --fix, prettier --write

test(generate-examples-index): add pinning tests
  .eslintignore
  __snapshots__/test/generate-examples-index/basic.test.ts.js
  package-lock.json
  package.json
  src/generate-examples-index/content-builder/builder.ts
  test/generate-examples-index/basic.test.ts
  test/generate-examples-index/broken-examples/example-broken.html
  test/generate-examples-index/examples/subdir/example-3.html
  test/generate-examples-index/examples/subdir/example-4.html
Due: eslint --fix, prettier --write

docs(generate-examples-index): various changes
  __snapshots__/test/generate-examples-index/basic.test.ts.js
  src/generate-examples-index/content-builder/builder.ts
  src/generate-examples-index/content-builder/md/index.ts
  src/generate-examples-index/content-builder/playground/codepen.template.html
  src/generate-examples-index/content-builder/playground/codepen.ts
  src/generate-examples-index/content-builder/playground/jsfiddle.template.html
  src/generate-examples-index/content-builder/playground/jsfiddle.ts
  src/generate-examples-index/content-builder/screenshots/index.ts
  src/generate-examples-index/index.ts
  src/generate-examples-index/paths.ts
  src/generate-examples-index/types.ts
  test/generate-examples-index/examples/example-2.html
Due: eslint --fix, prettier --write

fix(generate-examples-index): produce the same hash everywhere
  __snapshots__/test/generate-examples-index/basic.test.ts.js
  src/generate-examples-index/paths.ts
Due: eslint --fix, prettier --write

feat(generate-examples-index)!: complete overhaul (#6)
  .eslintignore
  __snapshots__/test/generate-examples-index/basic.test.ts.js
  package-lock.json
  package.json
  src/generate-examples-index/cli.ts
  src/generate-examples-index/content-builder/builder.ts
  src/generate-examples-index/content-builder/common.ts
  src/generate-examples-index/content-builder/format.ts
  src/generate-examples-index/content-builder/html/index.template.css
  src/generate-examples-index/content-builder/html/index.template.html
  src/generate-examples-index/content-builder/html/index.ts
  src/generate-examples-index/content-builder/html/style.template.css
  src/generate-examples-index/content-builder/index.ts
  src/generate-examples-index/content-builder/md/index.ts
  src/generate-examples-index/content-builder/playground/codepen.template.html
  src/generate-examples-index/content-builder/playground/codepen.ts
  src/generate-examples-index/content-builder/playground/data.ts
  src/generate-examples-index/content-builder/playground/index.ts
  src/generate-examples-index/content-builder/playground/jsfiddle.template.html
  src/generate-examples-index/content-builder/playground/jsfiddle.ts
  src/generate-examples-index/content-builder/screenshots/index.ts
  src/generate-examples-index/content-builder/screenshots/screenshot-script.js.txt
  src/generate-examples-index/index.template.html
  src/generate-examples-index/index.ts
  src/generate-examples-index/paths.ts
  src/generate-examples-index/types.ts
  test/generate-examples-index/basic.test.ts
  test/generate-examples-index/broken-examples/example-broken.html
  test/generate-examples-index/examples/example-2.html
  test/generate-examples-index/examples/subdir/example-3.html
  test/generate-examples-index/examples/subdir/example-4.html
Due: eslint --fix, prettier --write

test: update snapshots
  __snapshots__/test/generate-examples-index/basic.test.ts.js
Due: eslint --fix, prettier --write

fix(generate-examples-index): use HTTPS on JSFiddle
  src/generate-examples-index/content-builder/playground/jsfiddle.template.html
Due: prettier --write

fix(generate-examples-index): fix a type error
  src/generate-examples-index/index.ts
Due: eslint --fix, prettier --write

feat(generate-examples-index): add okay/fail to stdout
  src/generate-examples-index/content-builder/builder.ts
Due: eslint --fix, prettier --write

feat(generate-examples-index): add okay/fail to stdout (#8)
  src/generate-examples-index/content-builder/builder.ts
Due: eslint --fix, prettier --write

fix(generate-examples-index): use HTTPS for JSFiddle (#7)
  __snapshots__/test/generate-examples-index/basic.test.ts.js
  src/generate-examples-index/content-builder/playground/jsfiddle.template.html
  src/generate-examples-index/index.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  36ccd59d751255df3f11ba3af018c99f78182b29
Due: none

feat(build): use common build process
  .babelrc
  .gitignore
  .mocharc.json
  @types/index.d.ts
  babel.config.js
  babel.require.js
  package-lock.json
  package.json
  public/assets/bundle-file.d.ts
  public/assets/bundle-index.d.ts
  public/assets/bundle-index.js
  public/assets/bundle-root.d.ts
  public/assets/bundle-root.js
  rollup.config.js
  src/babel-register/index.ts
  src/generate-examples-index/content-builder/builder.ts
  src/module/constants.ts
  src/module/generate-rollup-configuration/index.ts
  src/module/index.ts
  src/module/util.ts
  tsconfig.declarations.json
  tsconfig.internal.json
  tsconfig.json
Due: eslint --fix, prettier --write

feat(build): use common build process (#10)
  .babelrc
  .gitignore
  .mocharc.json
  @types/index.d.ts
  babel.config.js
  babel.require.js
  package-lock.json
  package.json
  public/assets/bundle-file.d.ts
  public/assets/bundle-index.d.ts
  public/assets/bundle-index.js
  public/assets/bundle-root.d.ts
  public/assets/bundle-root.js
  rollup.config.js
  src/babel-register/index.ts
  src/generate-examples-index/content-builder/builder.ts
  src/module/constants.ts
  src/module/generate-rollup-configuration/index.ts
  src/module/index.ts
  src/module/util.ts
  tsconfig.declarations.json
  tsconfig.internal.json
  tsconfig.json
Due: eslint --fix, prettier --write

chore(deps): add renovate.json
  renovate.json
Due: prettier --write

Notes added by 'git notes add'
  da17378f40e620ad9bb0ad1da2ecbee76b975a74
Due: none

Update renovate.json
  renovate.json
Due: prettier --write

fix(rollup): use browser versions if available
  src/module/generate-rollup-configuration/index.ts
Due: eslint --fix, prettier --write

fix(rollup): use browser versions if available (#13)
  src/module/generate-rollup-configuration/index.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  4d0d0e5c82a943a647f056f5702a445b19caa975
Due: none

chore(deps): pin dependencies
  package.json
Due: prettier --write

chore(deps): update node.js to v12.16
  .circleci/config.yml
Due: none

fix(deps): update dependency jimp to ^0.9.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @rollup/plugin-json to v4.0.2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update babel monorepo
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @rollup/plugin-strip to v1.3.2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup-plugin-typescript2 to v0.26.0
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency yargs to v15
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/cheerio to v0.22.16
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency globby to v11
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/sinon to v7.5.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency core-js to v3.6.4
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  de108e18f85b4c8e2c14892b159c7fa4c659a2a7
Due: none

Path conditions:
  eslint --fix: any of: **/*.{js,ts}
  prettier --write: any of: **/*.{css,html,js,json,ts}
