Repository visjs/vis-dev-utils: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "**/*.{js,ts}": ["eslint --fix", "git add"],
  "**/*.{css,html,js,json,ts}": ["prettier --write", "git add"]
}

Notes added by 'git notes add'
  47321c012e35181e973c225d40aa5c7a65fd5eea
Due: none

Notes added by 'git notes add'
  52fa43aaa040cffbf0c73a687817bdee6cbac4dd
Due: none

chore(lint): overhaul (ESLint → Oxlint, Prettier → Oxfmt, + autofix CI job)
  .eslintignore
  .eslintrc.cjs
  .github/workflows/autofix.yml
  .prettierignore
  .prettierrc.json
  linting-and-formatting-ignore-patterns.ts
  oxfmt.config.ts
  oxlint.config.ts
  package-lock.json
  package.json
  tsconfig.declarations.json
  tsconfig.json
  tsconfig.lint.json
Due: eslint --fix, prettier --write

style: some manual linting fixes
  src/generate-examples-index/content-builder/builder.ts
  src/generate-examples-index/content-builder/format.ts
  src/test-e2e-interop/util.ts
  test/generate-examples-index/basic.test.ts
Due: eslint --fix, prettier --write

chore(lint): overhaul (ESLint → Oxlint, Prettier → Oxfmt, + autofix CI job) (#1106)
  .eslintignore
  .eslintrc.cjs
  .github/workflows/autofix.yml
  .prettierignore
  .prettierrc.json
  interop.js
  linting-and-formatting-ignore-patterns.ts
  oxfmt.config.ts
  oxlint.config.ts
  package-lock.json
  package.json
  src/babel-preset/index.ts
  src/ci-utils/index.ts
  src/generate-examples-index/content-builder/builder.ts
  src/generate-examples-index/content-builder/format.ts
  src/generate-examples-index/content-builder/html/index.ts
  src/generate-examples-index/content-builder/md/index.ts
  src/generate-examples-index/content-builder/playground/codepen.ts
  src/generate-examples-index/content-builder/playground/data.ts
  src/generate-examples-index/content-builder/playground/jsfiddle.ts
  src/generate-examples-index/content-builder/screenshots/index.ts
  src/generate-examples-index/index.ts
  src/generate-examples-index/paths.ts
  src/module/generate-rollup-configuration/index.ts
  src/module/header.ts
  src/module/inspect-npm-pack.ts
  src/module/util.ts
  src/test-e2e-interop/index.ts
  src/test-e2e-interop/test.ts
  src/test-e2e-interop/util.ts
  test/generate-examples-index/basic.test.ts
  tsconfig.declarations.json
  tsconfig.json
  tsconfig.lint.json
Due: eslint --fix, prettier --write

perf(generate-examples-index): migrate from Prettier to Oxfmt
  __snapshots__/test/generate-examples-index/basic.test.ts.js
  package-lock.json
  package.json
  src/generate-examples-index/content-builder/format.ts
Due: eslint --fix, prettier --write

perf(generate-examples-index): migrate from Prettier to Oxfmt (#1109)
  __snapshots__/test/generate-examples-index/basic.test.ts.js
  package-lock.json
  package.json
  src/generate-examples-index/content-builder/format.ts
Due: eslint --fix, prettier --write

feat(eslint-shareable-config)!: remove
  __snapshots__/test/package.test.ts.js
  eslint-shareable-config/index.cjs
  linting-and-formatting-ignore-patterns.ts
  package-lock.json
  package.json
  tsconfig.lint.json
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  da4ad91421e1817effb66a094cacd83c2d29a168
Due: none

feat(eslint-shareable-config)!: remove (#1111)
  __snapshots__/test/package.test.ts.js
  eslint-shareable-config/index.cjs
  linting-and-formatting-ignore-patterns.ts
  package-lock.json
  package.json
  tsconfig.lint.json
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  d22913eae48074bd286703ad9eb3eeca48b9376c
Due: none

Notes added by 'git notes add'
  16482d8841b1b1baed47a4cfa25fda3282e26e9d
Due: none

Notes added by 'git notes add'
  f0eb2cdad921e620a3e5c8b226caf3a85f3da53f
Due: none

feat(lint): add shared Oxlint and Oxfmt configs
  .circleci/config.yml
  .gitignore
  __snapshots__/test/package.test.ts.js
  oxfmt.config.ts
  oxlint.config.ts
  package.json
  rollup.config.js
  src/oxfmt-shared-config/index.ts
  src/oxlint-shared-config/index.ts
Due: eslint --fix, prettier --write

feat(lint): add shared Oxlint and Oxfmt configs (#1121)
  .circleci/config.yml
  .gitignore
  __snapshots__/test/package.test.ts.js
  oxfmt.config.ts
  oxlint.config.ts
  package.json
  rollup.config.js
  src/oxfmt-shared-config/index.ts
  src/oxlint-shared-config/index.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  642f4f42b7db9bfe54c20a8b91e677039e29683e
Due: none

fix(deps): move oxfmt to dev deps
  package-lock.json
  package.json
Due: prettier --write

fix(deps): move oxfmt to runtime deps
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  40408b835093afbd0ee32bc1b913413db48de46e
Due: none

Notes added by 'git notes add'
  59524e2619c1ae9d9b6e388d984f20194ca7e8d6
Due: none

Notes added by 'git notes add'
  6af6e5a29a42bfe8ddc965d720208fcef1d6117c
Due: none

fix(deps): remove css-select
  package-lock.json
  package.json
Due: prettier --write

fix(deps): remove tmp-promise
  package-lock.json
  package.json
  src/module/inspect-npm-pack.ts
  test/generate-examples-index/basic.test.ts
Due: eslint --fix, prettier --write

fix(deps): move utility dependencies from peer to runtime deps
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ef0750cc2c70c62176303b6aa64a8f47ad3a1cab
Due: none

chore(typescript): migrate moduleResolution to bundler
  tsconfig.json
  tsconfig.lint.json
Due: prettier --write

refactor(src): alwyas instantiate yargs with process.argv explicitly
  src/ci-utils/index.ts
  src/generate-examples-index/index.ts
Due: eslint --fix, prettier --write

refactor(typescript): migrate away from deprecated baseUrl
  tsconfig.declarations.json
  tsconfig.json
Due: prettier --write

chore(oxc): reconfigure ignore given that gitignore is respected
  linting-and-formatting-ignore-patterns.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  28c71aac1689856f0543ec08ed83d5e65e3d68de
Due: none

ci(renovate): freely rebase PRs modified by Autofix CI bot
  renovate.json
Due: prettier --write

fix(deps): update dependency typescript to v6
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency typescript to v6 (#1135)
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  499b5f87a21442dfab5c6581d10410fc786ff0c1
Due: none

Notes added by 'git notes add'
  8e05e5d63ef55ae4233e7dee23338123d66800a9
Due: none

Notes added by 'git notes add'
  e5e7042334aceee75354afe1702fd182ee6707b1
Due: none

Notes added by 'git notes add'
  98b69e5c9172894af8ee9e66194b62a89de1191e
Due: none
