Repository visjs/vis-dev-utils: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Notes added by 'git notes add'
  e8/1abbfcf6547f44eab649d27d14d6aa0710777e
Due: none

Notes added by 'git notes add'
  6f/09d7a38bb392d463be0d6d74825f5a5142bde7
Due: none

Notes added by 'git notes add'
  8a/033b20cc4c950b72ee1bcaa785e2f8f6451787
Due: none

Notes added by 'git notes add'
  f1/d5350a889e41189f1e047fe21a56e35356b4f8
Due: none

Notes added by 'git notes add'
  9f/0cd2493857b16c2ae555ebd851d1c3afc088ce
Due: none

Notes added by 'git notes add'
  98/2c7a1c7648baa069620256de7ff564eaaec532
Due: none

Notes added by 'git notes add'
  27/06b95f4b8c44b8c40a2ca7dfe69ff2160b7050
Due: none

Notes added by 'git notes add'
  f7/40b9be46b82700694acba4ac355354e0b421ea
Due: none

Notes added by 'git notes add'
  c8/e82f7e7f0b74e4496ea65888cc32351a5c6c27
Due: none

Notes added by 'git notes add'
  fe/9f3eda2b1daebf738e0b8b66dd3c3f4c8328d2
Due: none

Notes added by 'git notes add'
  d1/8da936735586ffbffc397870804f3f54a33d6e
Due: none

Notes added by 'git notes add'
  3e/d67fa08da4dfe3fcacd757f0b8c33b7f674e26
Due: none

Notes added by 'git notes add'
  63/3841a7a450ef0297388f0c3cfd8faa3ab1ca29
Due: none

Notes added by 'git notes add'
  dd/d1e5cc865a4235ab72d20039b402a1dfa928cc
Due: none

Notes added by 'git notes add'
  7c/917cd95fdc2968f256c0b6738436bf9f882b9e
Due: none

chore(ignore): some temporary files generated during tests
  .gitignore
Due: none

chore(ignore): some temporary files generated during tests (#972)
  .gitignore
Due: none

fix(deps): update linting stack
  package-lock.json
  package.json
  src/generate-examples-index/cli.ts
  src/test-e2e-interop/cli.ts
Due: eslint --fix, prettier --write

fix(deps): update linting stack (#973)
  package-lock.json
  package.json
  src/generate-examples-index/cli.ts
  src/test-e2e-interop/cli.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  f4/20d937dd05f141f42d28a92b59866a62d99a72
Due: none

Notes added by 'git notes add'
  4a/5c0583e46493ce3aadd81e2611b439292330d3
Due: none

Notes added by 'git notes add'
  71/c0f2e7eeb820d367fd7e1e4e42bc6840a4cd5c
Due: none

Notes added by 'git notes add'
  6a/493242d3acaa39e82625b80a898f8166cde303
Due: none

fix(deps): babel update
  babel-preset/index.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix(deps): babel update (#1010)
  babel-preset/index.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  63/da003fbc68ea1846a7ffe2e7aab4bdb105b258
Due: none

Notes added by 'git notes add'
  10/b15219e883117435a037c39e2a3883933405cb
Due: none

Notes added by 'git notes add'
  9f/5c6e164ef264f2c73951dca6c42b5a44fcd3a2
Due: none

Notes added by 'git notes add'
  4c/9c9d511f0f4ea9df605a69acce205345f5f5dd
Due: none

Notes added by 'git notes add'
  4d/b06096c6cf8e42dd8ae34cee14958e52fdcf78
Due: none

Notes added by 'git notes add'
  48/cf4218c50d354e15c384a2ddbcb2c10eeb66a0
Due: none

Notes added by 'git notes add'
  ef/e75e7e06d61435ffb944cb1843acb219a001e4
Due: none

Notes added by 'git notes add'
  db/747f9c247c531ad8e327ccef17dea6ab8e5144
Due: none

chore(deps): migrate from rimraf to shx
  package-lock.json
  package.json
Due: prettier --write

style(jsdoc): reformat
  src/generate-examples-index/content-builder/builder.ts
  src/generate-examples-index/content-builder/screenshots/index.ts
  src/generate-examples-index/index.ts
  src/module/generate-rollup-configuration/index.ts
  src/module/header.ts
  src/test-e2e-interop/util.ts
Due: eslint --fix, prettier --write

feat(deps): update TypeScript
  package-lock.json
  package.json
Due: prettier --write

refactor(generate-rollup-configuration): remove 8 years dead chai-fs
  package-lock.json
  package.json
  src/module/generate-rollup-configuration/index.ts
Due: eslint --fix, prettier --write

style: reformat
  src/module/generate-rollup-configuration/index.ts
Due: eslint --fix, prettier --write

fix(deps): update globby
  package-lock.json
  package.json
  src/generate-examples-index/index.ts
  src/module/generate-rollup-configuration/index.ts
  test/generate-examples-index/basic.test.ts
Due: eslint --fix, prettier --write

fix(deps): update find-up
  package-lock.json
  package.json
  src/module/header.ts
  src/test-e2e-interop/test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts}
  prettier --write: any of: **/*.{css,html,js,json,ts}
