Repository visjs/vis-dev-utils: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "**/*.{js,ts}": ["eslint --fix", "git add"],
  "**/*.{css,html,js,json,ts}": ["prettier --write", "git add"]
}

fix(deps): update cheerio
  package-lock.json
  package.json
  src/generate-examples-index/content-builder/html/index.ts
  src/generate-examples-index/content-builder/playground/codepen.ts
  src/generate-examples-index/content-builder/playground/data.ts
  src/generate-examples-index/content-builder/playground/jsfiddle.ts
  src/generate-examples-index/index.ts
  src/generate-examples-index/types.ts
  test/generate-examples-index/basic.test.ts
Due: eslint --fix, prettier --write

fix(generate-rollup-configuration): promises are fulfilled not resolved
  src/module/generate-rollup-configuration/index.ts
Due: eslint --fix, prettier --write

feat(inspect-npm-pack)!: use JSON as npm output and in snapshots
  __snapshots__/test/package.test.ts.js
  src/module/inspect-npm-pack.ts
Due: eslint --fix, prettier --write

style: reformat
  interop.js
  rollup.config.js
  src/ci-utils/index.ts
  src/generate-examples-index/content-builder/builder.ts
  src/generate-examples-index/content-builder/common.ts
  src/generate-examples-index/content-builder/html/index.template.css
  src/generate-examples-index/content-builder/html/index.ts
  src/generate-examples-index/content-builder/html/style.template.css
  src/generate-examples-index/content-builder/md/index.ts
  src/generate-examples-index/content-builder/playground/codepen.ts
  src/generate-examples-index/content-builder/playground/data.ts
  src/generate-examples-index/content-builder/screenshots/index.ts
  src/generate-examples-index/index.ts
  src/generate-examples-index/paths.ts
  src/module/constants.ts
  src/module/generate-rollup-configuration/index.ts
  src/module/header.ts
  src/module/util.ts
  src/test-e2e-interop/index.ts
  src/test-e2e-interop/test.ts
  src/test-e2e-interop/util.ts
  test/generate-examples-index/basic.test.ts
  test/generate-examples-index/broken-examples/example-broken.html
  test/generate-examples-index/examples/example-1.html
  test/generate-examples-index/examples/example-2.html
  test/generate-examples-index/examples/example-alert.html
  test/generate-examples-index/examples/example-confirm.html
  test/generate-examples-index/examples/subdir/example-3.html
  test/generate-examples-index/examples/subdir/example-4.html
Due: eslint --fix, prettier --write

feat(deps): update all except for ESLint 9
  package-lock.json
  package.json
  rollup.config.js
  src/generate-examples-index/cli.ts
  src/generate-examples-index/content-builder/builder.ts
  src/generate-examples-index/content-builder/common.ts
  src/generate-examples-index/content-builder/format.ts
  src/generate-examples-index/content-builder/html/index.ts
  src/generate-examples-index/content-builder/md/index.ts
  src/generate-examples-index/content-builder/playground/data.ts
  src/generate-examples-index/content-builder/screenshots/index.ts
  src/generate-examples-index/index.ts
  src/module/generate-rollup-configuration/index.ts
  src/module/header.ts
  src/module/inspect-npm-pack.ts
  src/test-e2e-interop/cli.ts
  test/generate-examples-index/basic.test.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat(package): modernize to hybrid ESM+CJS
  .circleci/config.yml
  .eslintrc.cjs
  .mocharc.json
  __snapshots__/test/generate-examples-index/basic.test.ts.js
  __snapshots__/test/package.test.ts.js
  eslint-shareable-config/index.cjs
  interop.js
  package-lock.json
  package.json
  rollup.config.js
  src/generate-examples-index/content-builder/screenshots/index.ts
  src/module/generate-rollup-configuration/index.ts
  test/generate-examples-index/basic.test.ts
  test/package.test.ts
  tsconfig.lint.json
Due: eslint --fix, prettier --write

perf(babel-preset)!: remove 7 years dead CSS plugin
  babel-preset/index.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

perf(build): handle HTML and CSS as text via esbuild
  rollup.config.js
Due: eslint --fix, prettier --write

perf(build): remove commonjs plugin
  rollup.config.js
Due: eslint --fix, prettier --write

feat(generate-rollup-configuration): replace TS plugin by better maintained first party
  package-lock.json
  package.json
  src/module/generate-rollup-configuration/index.ts
Due: eslint --fix, prettier --write

perf(build): externalize fs-extra as a dependency
  package-lock.json
  package.json
Due: prettier --write

fix(deps): various updates
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update rollup-plugin-node-externals to 8.0.1
  package-lock.json
  package.json
Due: prettier --write

fix(module): stop freezing Babel ignore RE
  src/module/constants.ts
Due: eslint --fix, prettier --write

fix(generate-rollup-configuration): add missing node URL import
  src/module/generate-rollup-configuration/index.ts
Due: eslint --fix, prettier --write

fix(build): incorporate babel-preset into the new pkg exports
  .gitignore
  @types/index.d.ts
  __snapshots__/test/package.test.ts.js
  package.json
  rollup.config.js
  src/babel-preset/index.ts
  tsconfig.declarations.json
Due: eslint --fix, prettier --write

fix(build): generate UMD and ESM build of esnext
  src/module/generate-rollup-configuration/index.ts
Due: eslint --fix, prettier --write

fix(types): types path in package.json
  package.json
Due: prettier --write

fix(bin): issues with cmds after migrating to hybrid ESM+CJS pkg
  rollup.config.js
  src/test-e2e-interop/test.ts
  src/test-e2e-interop/util.ts
Due: eslint --fix, prettier --write

feat(generate-rollup-configuration)!: generate and validate for hybrid ESM+CJS
  src/module/generate-rollup-configuration/index.ts
Due: eslint --fix, prettier --write

test(interop): fix path to executable
  interop.js
Due: eslint --fix, prettier --write

chore(package): pin node and npm versions using Volta and nvm
  .nvmrc
  package.json
Due: prettier --write

test(generate-examples-index): use correct extension for executable in tests
  test/generate-examples-index/basic.test.ts
Due: eslint --fix, prettier --write

test(package): change .mjs/.cjs bin files to .js in snapshot
  __snapshots__/test/package.test.ts.js
Due: eslint --fix, prettier --write

feat(test-e2e-interop)!: migrate to top level awaits
  src/test-e2e-interop/index.ts
  tsconfig.json
  tsconfig.lint.json
Due: eslint --fix, prettier --write

feat(babel-register): remove support for CSS
  src/babel-register/index.ts
Due: eslint --fix, prettier --write

test(package): remove --experimental-strip-types from NODE_OPTIONS
  package.json
Due: prettier --write

chore(deps): update to Node 22.17.0
  .circleci/config.yml
  .nvmrc
  package.json
Due: prettier --write

ci(interop-test): allow interop test to be skipped on manual pipeline trigger
  .circleci/config.yml
Due: none

refactor(package): switch from Babel register to native Node 24 type stripping internally
  .circleci/config.yml
  .gitignore
  .nvmrc
  package.json
  rollup.config.js
  test/package.test.ts
  tsconfig.declarations.json
  tsconfig.json
Due: eslint --fix, prettier --write

feat(package)!: remove lib from exports
  __snapshots__/test/package.test.ts.js
  package.json
Due: eslint --fix, prettier --write

chore(package): remove internal build
  package.json
  tsconfig.internal.json
Due: prettier --write

test(generate-examples-index): improve error output in unit tests
  test/generate-examples-index/basic.test.ts
Due: eslint --fix, prettier --write

ci(puppeteer): move cache to repo dir
  .circleci/config.yml
Due: none

ci(poppeteer): try to persist the default cache in home instead of moving it
  .circleci/config.yml
Due: none

ci(workspace): use .. instead of ~
  .circleci/config.yml
Due: none

perf(test-e2e-interop): disable Husky
  src/test-e2e-interop/util.ts
Due: eslint --fix, prettier --write

fix(inspect-npm-pack): skip package scripts when inspecting npm pack
  src/module/inspect-npm-pack.ts
Due: eslint --fix, prettier --write

chore(package): update Husky config to v9
  .husky/pre-commit
  package.json
Due: prettier --write

fix(generate-rollup-configuration): improve exports assertions
  src/module/generate-rollup-configuration/index.ts
Due: eslint --fix, prettier --write
