Repository visjs/vis-dev-utils: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "**/*.{js,ts}": ["eslint --fix", "git add"],
  "**/*.{css,html,js,json,ts}": ["prettier --write", "git add"]
}

chore(deps): update dependency rollup to v2.26.10
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  705dcc942add75f81e8263f212227947062a06bf
Due: none

fix(deps): update dependency rollup-plugin-terser to v7.0.2
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  faac90045ac539ac8fbcf1276dfb6038a4b5c82a
Due: none

feat(eslint-shareable-config): add shareable ESLint config
  .eslintignore
  .eslintrc.js
  __snapshots__/test/package.test.ts.js
  eslint-shareable-config/index.js
  package.json
  tsconfig.lint.json
Due: eslint --fix, prettier --write

style: reformat
  .releaserc.yml
  src/generate-examples-index/cli.ts
  src/generate-examples-index/content-builder/builder.ts
  src/generate-examples-index/content-builder/common.ts
  src/generate-examples-index/content-builder/html/index.ts
  src/generate-examples-index/content-builder/md/index.ts
  src/generate-examples-index/content-builder/playground/codepen.ts
  src/generate-examples-index/content-builder/playground/data.ts
  src/generate-examples-index/content-builder/playground/jsfiddle.ts
  src/generate-examples-index/paths.ts
  src/module/generate-rollup-configuration/index.ts
  src/module/inspect-npm-pack.ts
  src/test-e2e-interop/cli.ts
  src/test-e2e-interop/test.ts
  src/test-e2e-interop/util.ts
Due: eslint --fix, prettier --write

style: some manual fixing
  .circleci/config.yml
  .lintstagedrc
  package-lock.json
  package.json
  src/babel-register/index.ts
  src/generate-examples-index/content-builder/builder.ts
  src/generate-examples-index/content-builder/playground/data.ts
  src/module/constants.ts
  src/test-e2e-interop/test.ts
Due: eslint --fix, prettier --write

chore(deps): update dependency husky to v4.3.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.26.11
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/puppeteer to v3.0.2
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency yargs to v16
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a75359b741da7cc0fd583bbf116716e63ad1b6aa
Due: none

fix(deps): update dependency yargs to v16.0.1
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9fc55950d8b07cdc8ef9f54c57bfb79bba2fdc9b
Due: none

fix(deps): update dependency yargs to v16.0.2
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  fc29ae28a7a4ad242b6cfc4ae924557ae8a59c77
Due: none

fix(deps): update dependency yargs to v16.0.3
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  cff629fcdb49fb6a5983d9bcedcd3d17692061af
Due: none

feat(eslint-shareable-config): add shareable ESLint config (#322)
  .circleci/config.yml
  .eslintignore
  .eslintrc.js
  .lintstagedrc
  .releaserc.yml
  __snapshots__/test/package.test.ts.js
  eslint-shareable-config/index.js
  package-lock.json
  package.json
  src/babel-register/index.ts
  src/generate-examples-index/cli.ts
  src/generate-examples-index/content-builder/builder.ts
  src/generate-examples-index/content-builder/common.ts
  src/generate-examples-index/content-builder/html/index.ts
  src/generate-examples-index/content-builder/md/index.ts
  src/generate-examples-index/content-builder/playground/codepen.ts
  src/generate-examples-index/content-builder/playground/data.ts
  src/generate-examples-index/content-builder/playground/jsfiddle.ts
  src/generate-examples-index/paths.ts
  src/module/constants.ts
  src/module/generate-rollup-configuration/index.ts
  src/module/inspect-npm-pack.ts
  src/test-e2e-interop/cli.ts
  src/test-e2e-interop/test.ts
  src/test-e2e-interop/util.ts
  tsconfig.lint.json
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  b8b607f7cea51313ad741a97d27fe89d12742602
Due: none

fix(deps): update dependency puppeteer to v5.3.0
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d735b25e5ce22d09d326500b34b65d41fdcadbec
Due: none

chore(deps): update dependency eslint to v7.9.0
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update typescript-eslint monorepo to v4
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5ab9d8607073bda2a51ef9e5766bf8bdf7374c65
Due: none

fix(deps): update typescript-eslint monorepo to v4.1.1
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f33ba42d3e8a222539199c4af4f771e3dc0ac209
Due: none

chore(deps): update dependency @types/prettier to v2.1.1
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency prettier to v2.1.2
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6e27c9da281089263de0610eed8adf9cd6c99bcb
Due: none

chore(deps): update dependency rollup to v2.27.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency lint-staged to v10.4.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.27.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency typescript to v4.0.3
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.28.0
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency @rollup/plugin-commonjs to v15.1.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.28.1
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  243c3b7709cedcdf825f43630bd9a2be8de6b3d3
Due: none

fix(deps): update typescript-eslint monorepo to v4.2.0
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency puppeteer to v5.3.1
  package-lock.json
  package.json
Due: prettier --write
