Repository visjs/vis-dev-utils: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(deps): update dependency tmp-promise to v2.1.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.8.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.8.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.8.2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.9.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @rollup/plugin-strip to v1.3.3
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup-plugin-typescript2 to v0.27.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency typescript to v3.9.2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency tmp-promise to v3
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/yargs to v15.0.5
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup-plugin-analyzer to v3.2.3
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.10.2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/sinon to v9.0.1
  package-lock.json
  package.json
Due: prettier --write

fix(rollup-conf): styles dir location
  package.json
  src/module/generate-rollup-configuration/index.ts
Due: eslint --fix, prettier --write

fix(deps): update dependency jimp to ^0.11.0
  package-lock.json
  package.json
Due: prettier --write

fix(rollup-conf): styles dir location (#155)
  package.json
  src/module/generate-rollup-configuration/index.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  3c7866e261f404ad6d6d8b9b0de5072058796144
Due: none

Notes added by 'git notes add'
  1fb17a3b5e1f903671a31f5fc44027a0c3e2ec02
Due: none

fix(gen-rollup-conf): disable objectHashIgnoreUnknownHack
  rollup.config.js
  src/module/generate-rollup-configuration/index.ts
Due: eslint --fix, prettier --write

fix(gen-rollup-conf): disable objectHashIgnoreUnknownHack (#156)
  rollup.config.js
  src/module/generate-rollup-configuration/index.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  668d4de388337603db0cf7c36ab55baa90022c43
Due: none

fix(gen-rollup-conf): disable strict mode
  src/module/generate-rollup-configuration/index.ts
Due: eslint --fix, prettier --write

fix(gen-rollup-conf): disable strict mode (#157)
  src/module/generate-rollup-configuration/index.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  c5e0f875310ae102281c3fa5f804b9b9a555e8a8
Due: none

fix(gen-rollup-conf): don't create CSS maps for standalone
  src/module/generate-rollup-configuration/index.ts
Due: eslint --fix, prettier --write

fix(gen-rollup-conf): don't create CSS maps for standalone (#158)
  src/module/generate-rollup-configuration/index.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  138e31c22c2bcd1bb27139f9d93d3997e29f6567
Due: none

fix(deps): update dependency jimp to ^0.12.0
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  edfdd1771ed01723873912954fe7047b78252f7f
Due: none

fix(gen-rollup-conf): bypass index files in bundled JS
  src/module/generate-rollup-configuration/index.ts
Due: eslint --fix, prettier --write

fix(gen-rollup-conf): bypass index files in bundled JS (#160)
  src/module/generate-rollup-configuration/index.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  5bab3f871082d23cf7baff9b90b65b04e5c18e2e
Due: none

chore(deps): update dependency lint-staged to v10.2.4
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v2.34.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.10.3
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.10.4
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/sinon to v9.0.3
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.10.5
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency typescript to v3.9.3
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @rollup/plugin-commonjs to v12
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts}
  prettier --write: any of: **/*.{css,html,js,json,ts}
