Repository visjs/vis-dev-utils: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "**/*.{js,ts}": ["eslint --fix", "git add"],
  "**/*.{css,html,js,json,ts}": ["prettier --write", "git add"]
}

Notes added by 'git notes add'
  d3/0ca315e42e15395f33cb9bbbb3a68c4163e549
Due: none

fix(deps): update dependency eslint-config-prettier to v7
  package-lock.json
  package.json
Due: prettier --write

fix(puppeteer): replace the use of a deprecated method (#463)
  src/generate-examples-index/content-builder/screenshots/index.ts
Due: eslint --fix, prettier --write

fix(eslint-shareable-config): allow console.groupCollapsed (#462)
  eslint-shareable-config/index.js
Due: eslint --fix, prettier --write

fix(deps): update dependency rollup-plugin-analyzer to v4
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  cb/5beb9c54069d7a1938f68636aadcf22b14d9cb
Due: none

fix(deps): update dependency rollup-plugin-postcss to v4
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5b/674694ea14b5d2d5d4bd3bce48f6430e4afbf3
Due: none

fix(deps): update typescript-eslint monorepo to v4.11.0
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  38/1efa85d2b5267e76c241d696c84451cf635b3a
Due: none

chore(deps): update dependency builtin-modules to v3.2.0
  package-lock.json
  package.json
Due: prettier --write

feat(rollup): allow for additional files to be copied into bundles
  src/module/generate-rollup-configuration/index.ts
Due: eslint --fix, prettier --write

feat(rollup): allow for additional files to be copied into bundles (#467)
  src/module/generate-rollup-configuration/index.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  fe/099d989ca9facd2d13ba30a991f569fb862163
Due: none

chore(deps): update dependency @types/sinon to v9.0.10
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/prettier to v2.1.6
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update typescript-eslint monorepo to v4.11.1
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d9/8c26b9b07ebd27dcc96f0ea39ba81399790a71
Due: none

chore(deps): update dependency eslint to v7.17.0
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update typescript-eslint monorepo to v4.12.0
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency eslint-plugin-prettier to v3.3.1
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a9/49d2d4fb0c9491a598b1d9082b3ed0b99cbfc6
Due: none

Notes added by 'git notes add'
  b2/cda693dab0fd16335738f0091bc00a536ae9a9
Due: none

chore(deps): update dependency rollup to v2.36.0
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency globby to v11.0.2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.36.1
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0a/112dd3e377f46b468cf7c55acaa27ecc9a8faa
Due: none

chore(deps): update dependency sinon to v9.2.3
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency husky to v4.3.7
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update typescript-eslint monorepo to v4.13.0
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency eslint-plugin-jsdoc to v31
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  38/bc05dccad4edd2def29d563efc6f96d8e36c6e
Due: none

Notes added by 'git notes add'
  5e/723eff14901017b79b2af8926c13e5ce083127
Due: none

fix(deps): update dependency @rollup/plugin-node-resolve to v11.1.0
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8f/0b9852e353e0d2c2b9eac808a4490dfa5e6c60
Due: none

chore(deps): update dependency eslint to v7.18.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency husky to v4.3.8
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.36.2
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update typescript-eslint monorepo to v4.14.0
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency eslint-config-prettier to v7.2.0
  package-lock.json
  package.json
Due: prettier --write
