Repository visjs/vis-dev-utils: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "**/*.{js,ts}": ["eslint --fix", "git add"],
  "**/*.{css,html,js,json,ts}": ["prettier --write", "git add"]
}

chore(deps): update dependency tmp-promise to v3.0.3
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  84/122d62f8ec109e7c1bd3e2e342f58b000bad60
Due: none

ci(renovate): rework to renovate peer deps
  renovate.json
Due: prettier --write

ci(renovate): rework to renovate peer deps (#753)
  renovate.json
Due: prettier --write

fix(deps): update dependency lint-staged to v12
  package-lock.json
  package.json
Due: prettier --write

fix(interop): use more descriptive log names
  src/test-e2e-interop/util.ts
Due: eslint --fix, prettier --write

fix(interop): use more descriptive log names (#756)
  src/test-e2e-interop/util.ts
Due: eslint --fix, prettier --write

fix(deps): pin dependencies
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update TypeScript
  package-lock.json
  package.json
  src/test-e2e-interop/test.ts
  src/test-e2e-interop/util.ts
Due: eslint --fix, prettier --write

fix(deps): update TypeScript (#758)
  package-lock.json
  package.json
  src/test-e2e-interop/test.ts
  src/test-e2e-interop/util.ts
Due: eslint --fix, prettier --write

fix(deps): update dependency mocha to v9.2.2
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  bc/c361bad070d3a2c9a0ebee426ec116eb29ba4b
Due: none

fix(deps): update dependency eslint-plugin-prettier to v4
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency rollup to v2.70.0
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency eslint to v8
  package.json
Due: prettier --write

chore(deps): update ESLint
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update ESLint (#762)
  package-lock.json
  package.json
Due: prettier --write

fix(interop): don't log everything by default
  src/test-e2e-interop/cli.ts
  src/test-e2e-interop/index.ts
  src/test-e2e-interop/test.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  8d/7d4fd581846f195d3aba0c879e1574d0a9ef1c
Due: none

fix(interop): don't log everything by default (#765)
  src/test-e2e-interop/cli.ts
  src/test-e2e-interop/index.ts
  src/test-e2e-interop/test.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  27/f83865d11cf00368a73e6660eee4b1de57c638
Due: none

fix(deps): update dependency @rollup/plugin-node-resolve to v13.0.6
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency sinon to v13
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  dd/ac38a68eaa03dd1d9f2d0da450a5d7dc6df551
Due: none

fix(deps): update dependency puppeteer to v13
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency eslint-plugin-jsdoc to v38
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency rollup-plugin-node-externals to v4
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  10/741f308b1f10c69e3d6d6efa7c95243ef335cb
Due: none

fix(deps): update dependency rollup to v2.70.1
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  65/d7f865c651d1b3e2203d1798b6837f4f2b1aef
Due: none

fix(deps): update babel monorepo to v7.17.7
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b0/22c5fcbac7f377bc23ed0432a83efce2a6c3da
Due: none

fix(deps): update dependency eslint-plugin-jsdoc to v38.0.4
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update node.js to v17
  .circleci/config.yml
Due: none

Notes added by 'git notes add'
  ca/32053a6de75d53672dd2ddc209c00b3d17306c
Due: none

fix(deps): update dependency prettier to v2.6.0
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency lint-staged to v12.3.6
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a3/46b2e95c807b7bd82c6ba3ea2b48c79a7d2f1e
Due: none

Notes added by 'git notes add'
  b8/3803e8d27061048e90e82f9c92e77cc07dc543
Due: none

fix(deps): update dependency lint-staged to v12.3.7
  package-lock.json
  package.json
Due: prettier --write
