Repository visjs/vis-dev-utils: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(deps): update dependency @rollup/plugin-node-resolve to v8
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/sinon to v9.0.4
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.10.6
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.10.7
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency lint-staged to v10.2.6
  package-lock.json
  package.json
Due: prettier --write

feat: add inspect npm pack function
  __snapshots__/test/package.test.ts.js
  src/module/index.ts
  src/module/inspect-npm-pack.ts
  test/package.test.ts
  tsconfig.internal.json
Due: eslint --fix, prettier --write

chore(deps): update dependency rollup to v2.10.8
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup-plugin-terser to v6
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup-plugin-terser to v6.0.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency mocha to v7.2.0
  package-lock.json
  package.json
Due: prettier --write

feat: add inspect npm pack function (#174)
  __snapshots__/test/package.test.ts.js
  src/module/index.ts
  src/module/inspect-npm-pack.ts
  test/package.test.ts
  tsconfig.internal.json
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  f26f870439a237beacdf765085cc5fb39aa88736
Due: none

chore(deps): update dependency rollup to v2.10.9
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup-plugin-terser to v6.1.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update babel monorepo to v7.10.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update circleci/node docker tag to v12.17
  .circleci/config.yml
Due: none

chore(deps): update babel monorepo to v7.10.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.11.2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency lint-staged to v10.2.7
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update babel monorepo to v7.10.2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.12.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.12.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency lint-staged to v10.2.8
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.13.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update circleci/node docker tag to v12.18
  .circleci/config.yml
Due: none

chore(deps): update dependency rollup to v2.13.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup-plugin-postcss to v3.1.2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency lint-staged to v10.2.9
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency typescript to v3.9.5
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency jimp to ^0.13.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @rollup/plugin-node-resolve to v8.0.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @rollup/plugin-json to v4.1.0
  package-lock.json
  package.json
Due: prettier --write

ci: skip caching of node_modules
  .circleci/config.yml
Due: none

fix(gen-rollup-conf): remove obsolete workaround
  src/module/generate-rollup-configuration/index.ts
Due: eslint --fix, prettier --write

test: reconfigure ESLint for upcomming updates
  .eslintignore
  .eslintrc.js
  tsconfig.json
Due: eslint --fix, prettier --write

fix(gen-rollup-conf): remove obsolete workaround (#201)
  src/module/generate-rollup-configuration/index.ts
Due: eslint --fix, prettier --write

ci: skip caching of node_modules (#200)
  .circleci/config.yml
Due: none

test: reconfigure ESLint for upcomming updates (#202)
  .eslintignore
  .eslintrc.js
  tsconfig.json
Due: eslint --fix, prettier --write

chore(deps): update dependency @rollup/plugin-commonjs to v13
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  79bb8647177020036e6411a57416a53bc7a94c02
Due: none

Path conditions:
  eslint --fix: any of: **/*.{js,ts}
  prettier --write: any of: **/*.{css,html,js,json,ts}
