Repository visjs/vis-dev-utils: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(generate-examples): some minor improvements (#258)
  src/generate-examples-index/index.ts
  test/generate-examples-index/basic.test.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  fbe2a276a321a9539c461c113834fe208a5e1639
Due: none

feat: add E2E interop test with all our projects
  .circleci/config.yml
  __snapshots__/test/package.test.ts.js
  package-lock.json
  package.json
  public/interop/base-config.json
  rollup.config.js
  src/test-e2e-interop/cli.ts
  src/test-e2e-interop/index.ts
  src/test-e2e-interop/test.ts
  src/test-e2e-interop/util.ts
Due: eslint --fix, prettier --write

feat: add E2E interop test with all our projects (#263)
  .circleci/config.yml
  __snapshots__/test/package.test.ts.js
  package-lock.json
  package.json
  public/interop/base-config.json
  rollup.config.js
  src/test-e2e-interop/cli.ts
  src/test-e2e-interop/index.ts
  src/test-e2e-interop/test.ts
  src/test-e2e-interop/util.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  c286460ed3bfa67c84b2c3617a414e565b057c8c
Due: none

chore(deps): update dependency mocha to v8.1.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v3.8.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update babel monorepo to v7.11.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup-plugin-postcss to v3.1.4
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup-plugin-typescript2 to v0.27.2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @babel/runtime-corejs3 to v7.11.2
  package-lock.json
  package.json
Due: prettier --write

perf(interop): parallelize and accept tarballs
  .circleci/config.yml
  interop.js
  package.json
  public/interop/base-config.json
  src/test-e2e-interop/cli.ts
  src/test-e2e-interop/index.ts
  src/test-e2e-interop/test.ts
  src/test-e2e-interop/util.ts
  tsconfig.declarations.json
  tsconfig.internal.json
  tsconfig.json
Due: eslint --fix, prettier --write

chore(deps): update dependency rollup to v2.23.1
  package-lock.json
  package.json
Due: prettier --write

feat(ci-utils): add command for CI stuff we use in multiple repos
  .circleci/config.yml
  __snapshots__/test/package.test.ts.js
  package.json
  rollup.config.js
  src/ci-utils/index.ts
Due: eslint --fix, prettier --write

perf(interop): parallelize and accept tarballs (#272)
  .circleci/config.yml
  interop.js
  package.json
  public/interop/base-config.json
  src/test-e2e-interop/cli.ts
  src/test-e2e-interop/index.ts
  src/test-e2e-interop/test.ts
  src/test-e2e-interop/util.ts
  tsconfig.declarations.json
  tsconfig.internal.json
  tsconfig.json
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  d62dfd1d6d5b85399c53043a0bc21e046144e591
Due: none

feat(ci-utils): add command for CI stuff we use in multiple repos (#274)
  .circleci/config.yml
  __snapshots__/test/package.test.ts.js
  package.json
  rollup.config.js
  src/ci-utils/index.ts
Due: eslint --fix, prettier --write

fix(deps): update dependency jimp to ^0.16.0
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1a116cb9e08a29414bd703a8f2ba43f8cdf8ab4a
Due: none

Notes added by 'git notes add'
  3e06cf77e4c9f5c8a6152a98656dc1c160ed396c
Due: none

chore(deps): update dependency rollup-plugin-postcss to v3.1.5
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v3.9.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency sinon to v9.0.3
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency find-up to v5
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/mocha to v8.0.2
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  67a3d7245bff48dc300a1268b4b0803b61354acc
Due: none

Notes added by 'git notes add'
  4994f79e6320dfd3f0f5a5594645b4239e93d3cc
Due: none

chore(deps): update dependency @rollup/plugin-commonjs to v15
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @rollup/plugin-node-resolve to v9
  package-lock.json
  package.json
Due: prettier --write

feat(deps): move peer deps to runtime
  package-lock.json
  package.json
  rollup.config.js
Due: eslint --fix, prettier --write

feat(deps): move peer deps to runtime (#284)
  package-lock.json
  package.json
  rollup.config.js
Due: eslint --fix, prettier --write

chore(deps): update dependency rollup to v2.24.0
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency rollup-plugin-terser to v6.1.0
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f2e5a943daa9b4b045807205bf47210f6d40f57b
Due: none

Notes added by 'git notes add'
  6a3b38ac520d91c99763c499e9fc63cab12640d1
Due: none

chore(deps): update dependency rollup to v2.25.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency eslint to v7.7.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.26.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.26.2
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency pageres to v5.2.1
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts}
  prettier --write: any of: **/*.{css,html,js,json,ts}
