Repository visjs/vis-dev-utils: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Notes added by 'git notes add'
  72/1ab3b7cffc2c09d5e2adba33fe89b80a16ffc5
Due: none

chore(deps): update circleci/node docker tag to v12.20
  .circleci/config.yml
Due: none

fix(deps): update dependency prettier to v2.2.1
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  17/49b6cb5e791261f62c18cc8790721e842a3fce
Due: none

chore(deps): update dependency rollup to v2.34.0
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency @rollup/plugin-node-resolve to v11
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8d/adc36945dbc9d1ced58cd83b8112f43b85eec7
Due: none

chore(deps): update dependency @types/yargs to v15.0.11
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.34.1
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency eslint-plugin-prettier to v3.2.0
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1d/c61e75dabcef5126b94eb56a2ca56b8ef12ad7
Due: none

chore(deps): update dependency @types/puppeteer to v5.4.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency lint-staged to v10.5.3
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency eslint to v7.15.0
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency yargs to v16.2.0
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  fb/0662e0f9b3c0ca29e7533d575beff31d8d1597
Due: none

chore(deps): update dependency rollup to v2.34.2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency husky to v4.3.4
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency husky to v4.3.5
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/mocha to v8.2.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/puppeteer to v5.4.2
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update babel monorepo to v7.12.10
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  11/6e21b52e16907b5bcee8ac9e604743b0dadd90
Due: none

chore(deps): update dependency sinon to v9.2.2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency typescript to v4.1.3
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency husky to v4.3.6
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency eslint-plugin-prettier to v3.3.0
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  06/9c048dc2192153525fcd39f8a5b41faa1acac7
Due: none

chore(deps): update dependency rollup to v2.35.0
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency @rollup/plugin-node-resolve to v11.0.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.35.1
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  54/f1031081c7d5676fb8ad351cef4e6c9cece8bf
Due: none

chore(deps): update dependency @types/yargs to v15.0.12
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency @babel/preset-env to v7.12.11
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ee/bfbc235ac0c67b690e85aa31676d15e8da64cb
Due: none

chore(deps): update dependency eslint to v7.16.0
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency @rollup/plugin-commonjs to v17
  package-lock.json
  package.json
Due: prettier --write

fix(eslint-shareable-config): allow console.groupCollapsed
  eslint-shareable-config/index.js
Due: eslint --fix, prettier --write

fix(puppeteer): replace the use of a deprecated method
  src/generate-examples-index/content-builder/screenshots/index.ts
Due: eslint --fix, prettier --write

fix(deps): update typescript-eslint monorepo to v4.10.0
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts}
  prettier --write: any of: **/*.{css,html,js,json,ts}
