Repository visjs/vis-dev-utils: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(deps): update dependency rollup to v2.15.0
  package-lock.json
  package.json
Due: prettier --write

fix(babel): take DOS paths into account in ignore RE
  src/module/constants.ts
Due: eslint --fix, prettier --write

fix(babel): take DOS paths into account in ignore RE (#204)
  src/module/constants.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  1c4ecbccf83016e210b8be24db90bf611a664dbc
Due: none

chore(renovate): enable automerge for nonmajor deps
  renovate.json
Due: prettier --write

chore(renovate): enable automerge for nonmajor deps (#205)
  renovate.json
Due: prettier --write

chore(deps): update dependency mocha to v8
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency eslint to v7
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency lint-staged to v10.2.10
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.16.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.16.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v3
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency eslint-plugin-prettier to v3.1.4
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v3.3.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency lint-staged to v10.2.11
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.17.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.17.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency eslint to v7.3.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update babel monorepo to v7.10.3
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.18.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @rollup/plugin-node-resolve to v8.1.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v3.4.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency eslint to v7.3.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.18.1
  package-lock.json
  package.json
Due: prettier --write

fix(inspect-npm-pack): fix a typo
  src/module/inspect-npm-pack.ts
Due: eslint --fix, prettier --write

style(eslint): allow console.group(End)
  .eslintrc.js
Due: eslint --fix, prettier --write

feat(inspect-npm-pack): log more details when the test fails
  src/module/inspect-npm-pack.ts
Due: eslint --fix, prettier --write

fix(inspect-npm-pack): fix dry run and improve error logging (#222)
  .eslintrc.js
  src/module/inspect-npm-pack.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  c0fed8047239d19e8a6a4db260ef1ea788d358d2
Due: none

fix(deps): update dependency jimp to ^0.14.0
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  17aa8d591e8dd4b423d39edd050a7e41b57cf93c
Due: none

chore(deps): update babel monorepo to v7.10.4
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v3.5.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency typescript to v3.9.6
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.18.2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency eslint to v7.4.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.19.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v3.6.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.20.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/cheerio to v0.22.20
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts}
  prettier --write: any of: **/*.{css,html,js,json,ts}
