Repository visjs/vis-dev-utils: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "**/*.{js,ts}": ["eslint --fix", "git add"],
  "**/*.{css,html,js,json,ts}": ["prettier --write", "git add"]
}

Notes added by 'git notes add'
  83/c292969f312763c7695d62e7caeabfff19bbf3
Due: none

Notes added by 'git notes add'
  8e/bf3cd3b6cb1ade12371adf74743ae0b52c8e50
Due: none

Notes added by 'git notes add'
  27/e25cf72f99304ddb0480cd9d56198b25511a4d
Due: none

fix(deps): manual updates
  package-lock.json
  package.json
  src/generate-examples-index/index.ts
  src/module/generate-rollup-configuration/index.ts
  test/generate-examples-index/basic.test.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix(deps): manual updates (#909)
  package-lock.json
  package.json
  src/generate-examples-index/index.ts
  src/module/generate-rollup-configuration/index.ts
  test/generate-examples-index/basic.test.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  22/15c37c7b60df409dcdce77a3c9aa06de35f73f
Due: none

Notes added by 'git notes add'
  ec/f6c02464f7915f796f37b80e6028273802cd1f
Due: none

refactor(generate-examples-index): remove deprecated use
  src/generate-examples-index/content-builder/html/index.ts
  src/generate-examples-index/content-builder/playground/data.ts
  src/generate-examples-index/content-builder/screenshots/index.ts
  src/generate-examples-index/index.ts
Due: eslint --fix, prettier --write

feat(deps): update to Rollup v3
  @types/index.d.ts
  package-lock.json
  package.json
  rollup.config.js
  src/module/generate-rollup-configuration/index.ts
Due: eslint --fix, prettier --write

feat(deps): update to Rollup v3 (#913)
  @types/index.d.ts
  package-lock.json
  package.json
  rollup.config.js
  src/generate-examples-index/content-builder/html/index.ts
  src/generate-examples-index/content-builder/playground/data.ts
  src/generate-examples-index/content-builder/screenshots/index.ts
  src/generate-examples-index/index.ts
  src/module/generate-rollup-configuration/index.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  27/164f94cf6b61aa7cc94dd9025e14864b3bb47c
Due: none

feat(deps)!: major ESLint update
  package-lock.json
  package.json
Due: prettier --write

feat(deps)!: major ESLint update (#915)
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b4/d3876e5756421096b382a0225a846ab9f8e59d
Due: none

Notes added by 'git notes add'
  4e/7f23184dd92064cc34f7b43a947bb17c16491f
Due: none

Notes added by 'git notes add'
  a7/eff4f49e998aec03361566a475da1c52badc2b
Due: none

Notes added by 'git notes add'
  a6/7042d6f294de5687e2ee2b814d93ef1740602e
Due: none

Notes added by 'git notes add'
  18/4157767e144435d596a200fa6fd4fd7fb0f769
Due: none

Notes added by 'git notes add'
  07/66487e4bcc897e96b6fbe9b50a712ac5acf693
Due: none

Notes added by 'git notes add'
  e4/bec1be471d3b8dbd7934f11ec9f6697e49685a
Due: none

chore(deps): update rimraf to v4.2
  package.json
Due: prettier --write

chore(deps): update rimraf
  package-lock.json
  package.json
Due: prettier --write

test(package): increase timeout
  test/package.test.ts
Due: eslint --fix, prettier --write

chore(deps): update rimraf to v4.2 (#927)
  package-lock.json
  package.json
  test/package.test.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  85/1cbf9e56a0e4a93b82839a8178530c6f3decbf
Due: none

Notes added by 'git notes add'
  82/50c161941a2799d131c4c5cecd95dd0be0aa9b
Due: none

Notes added by 'git notes add'
  ff/39c3ab26a2a962cda6bc0fd93b86d5f90167a0
Due: none

Notes added by 'git notes add'
  ba/f9293cf957f76a5f7969c6069d157e9b8ed9b6
Due: none

Notes added by 'git notes add'
  87/f3f69f9f2a5948d178aa5f45da4cc608d8554c
Due: none

Notes added by 'git notes add'
  10/52f3a87d5048e89398ef0cd27c3c9b4c5a435c
Due: none

Notes added by 'git notes add'
  95/c8a453a1798167338533f8cc70deff23d9be47
Due: none

chore(package): replace opencollective by npm fund
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e4/b8d41574e169133902f6df395fcbddffdb5ae7
Due: none

Notes added by 'git notes add'
  95/bb07ec7fd26a3e278ba782ee5e6a527fcda746
Due: none

Notes added by 'git notes add'
  3c/7ced703a194de431ed9e110c3d38fc2f516e4a
Due: none

chore(package): replace opencollective by npm fund (#940)
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  19/69c21fbe15a851477985bad21227ace79ef73b
Due: none

Notes added by 'git notes add'
  ed/61483c964dc54153d00f4f581328c78db4092a
Due: none
