Repository visjs/vis-dev-utils: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "**/*.{js,ts}": ["eslint --fix", "git add"],
  "**/*.{css,html,js,json,ts}": ["prettier --write", "git add"]
}

fix(deps): various updates
  package-lock.json
  package.json
Due: prettier --write

feat(babel-register)!: remove
  .circleci/config.yml
  .gitignore
  __snapshots__/test/package.test.ts.js
  package-lock.json
  package.json
  rollup.config.js
  src/babel-register/index.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  ec53436ad3b5439b653501840890bb372583bbe5
Due: none

chore(package): auto fix package JSON via npm pkg fix
  package.json
Due: prettier --write

Notes added by 'git notes add'
  43a59467e583f1e68434e01f8d978d64e33e7fbd
Due: none

Notes added by 'git notes add'
  f76b85bfe7bb4b1ec0805f67ec534ea069ccf300
Due: none

fix(generate-rolup-configuration): add cjs and mjs extensions for plugin-babel
  src/module/generate-rollup-configuration/index.ts
Due: eslint --fix, prettier --write

fix(generate-rolup-configuration): transpile inlined Vis dependencies in standalone/peer builds (#1046)
  src/module/generate-rollup-configuration/index.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  58f001c23603c0acef4437e1628bb3830be9c1fa
Due: none

fix(generate-examples-index) <1> Globby can only handle POSIX paths
  src/generate-examples-index/index.ts
Due: eslint --fix, prettier --write

fix(generate-examples-index): suppy POSIX paths to Globby even on Windows (#1047)
  src/generate-examples-index/index.ts
Due: eslint --fix, prettier --write

fix(eslint-shareable-config): remove jsdoc/check-examples
  eslint-shareable-config/index.cjs
Due: none

Notes added by 'git notes add'
  c8be18f688af92ca8d5961ee1775e2238f322169
Due: none

refactor(generate-rollup-configuration): remove unused import
  src/module/generate-rollup-configuration/index.ts
Due: eslint --fix, prettier --write

feat(generate-rollup-configuration)!: remove code stripping
  @types/index.d.ts
  package-lock.json
  package.json
  src/module/generate-rollup-configuration/index.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  ecb9218f7549d14738813d275f3fa3c0df616023
Due: none

fix(generate-examples-index): disable CORS protections
  src/generate-examples-index/content-builder/builder.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  af9270dcd5b52f3af42795f08e27c8dd568aaefa
Due: none

chore: add Mise
  .mise.toml
Due: none

chore: remove Volta
  package.json
Due: prettier --write

chore: migrate from Volta to Mise (#1054)
  .mise.toml
  package.json
Due: prettier --write

Notes added by 'git notes add'
  dedac56ea25860ea038839e1a79c744ce48b3ee4
Due: none

fix(deps): batch update of non-major
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  653cb7e082ebb270ca87757c760a1e68c0cd2bb4
Due: none

Notes added by 'git notes add'
  7c9a0a01abe1536ac638608d2d1401b25a340a21
Due: none

Notes added by 'git notes add'
  6d15b52e484b03e4dc769257510e70d4abe3449c
Due: none

Notes added by 'git notes add'
  44f605c5021fd4f65a928aaf8b0c55b9d326b166
Due: none

Notes added by 'git notes add'
  d42d88785019ed79fa63d26e49fbbed7dbd0ae9d
Due: none

Notes added by 'git notes add'
  446843f56273c1162f89523870aaa40b9a10ee32
Due: none

Notes added by 'git notes add'
  61ae432bb6081355a3a4343e6aea05e914449539
Due: none

ci(renovate): align config with best practices
  renovate.json
Due: prettier --write

ci(renovate): also automerge (Docker image) digest pin
  renovate.json
Due: prettier --write

ci(renovate): use up-to-date rule format
  renovate.json
Due: prettier --write

chore(package): remove npm-run-all dependency
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6021b40953b765aca00aee9a3c607e5a04148f5f
Due: none

ci(renovate): automerge lock maintenance
  renovate.json
Due: prettier --write

Notes added by 'git notes add'
  e4005a0c3a070a98a09ab97b8c10e7f8c8818774
Due: none

ci(renovate): release on peer dependency updates
  renovate.json
Due: prettier --write

Notes added by 'git notes add'
  6b614fed90c2123bf5e1c4cf846a66eac066d055
Due: none

Notes added by 'git notes add'
  48899d82661bb78f9421011f81c22ca6611f6311
Due: none
