Repository visjs/vis-dev-utils: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Notes added by 'git notes add'
  1be1ca160acd4fad881557515ca8718502734946
Due: none

chore(deps): update dependency @types/yargs to v15.0.6
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/yargs to v15.0.7
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.28.2
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency eslint-config-prettier to v6.12.0
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency rollup-plugin-typescript2 to v0.27.3
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a88d151247c0f8e90fbd66e204703f5c2acfce41
Due: none

Notes added by 'git notes add'
  bcf16c860c6779c4d4d2b08391d7c000e079bc3c
Due: none

chore(deps): update dependency @types/sinon to v9.0.6
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency eslint to v7.10.0
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency eslint-plugin-cypress to v2.11.2
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update typescript-eslint monorepo to v4.3.0
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9a5ecc9115cdc1a65733484804df3c2acafb47fb
Due: none

Notes added by 'git notes add'
  6d6fd32ba8474d10ec661cad4037b19a516c65f0
Due: none

chore(deps): update dependency sinon to v9.1.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/sinon to v9.0.8
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/chai to v4.2.13
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update typescript-eslint monorepo to v4.4.0
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  99ce3604cea8d625b55ec6f27d67802553a0c4ec
Due: none

chore(deps): update dependency sinon to v9.2.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.29.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/yargs to v15.0.8
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update circleci/node docker tag to v12.19
  .circleci/config.yml
Due: none

chore(deps): update dependency eslint to v7.11.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/prettier to v2.1.2
  package-lock.json
  package.json
Due: prettier --write

feat!: rework for Karma
  @types/index.d.ts
  __snapshots__/test/package.test.ts.js
  babel-preset/index.js
  package-lock.json
  package.json
  rollup.config.js
  src/inspect-npm-pack/index.ts
  src/module/generate-rollup-configuration/index.ts
  src/untyped.d.ts
  tsconfig.json
  tsconfig.lint.json
Due: eslint --fix, prettier --write

feat: various improvements
  @types/index.d.ts
  package-lock.json
  package.json
  rollup.config.js
  src/module/generate-rollup-configuration/index.ts
Due: eslint --fix, prettier --write

fix: allow true for VIS_DEBUG
  rollup.config.js
Due: eslint --fix, prettier --write

fix: don't use too modern ECMAScript
  rollup.config.js
Due: eslint --fix, prettier --write

feat: various improvements (#365)
  @types/index.d.ts
  package-lock.json
  package.json
  rollup.config.js
  src/module/generate-rollup-configuration/index.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  b6b93b0c83743dbb224abb8cbb8b6c6dfd375c6b
Due: none

fix(deps): update typescript-eslint monorepo to v4.4.1
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f74da8150a05347e76d2d46c6879b016b2ab42af
Due: none

chore(deps): update dependency rollup to v2.30.0
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update babel monorepo to v7.12.0
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  90903189dbd9ecbeed5899ff81157c7c70dc0665
Due: none

chore(deps): update dependency rollup to v2.31.0
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency yargs to v16.1.0
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  08ea77f557b63aede07e11f7ee577198c4d7dfbd
Due: none

chore(deps): update dependency lint-staged to v10.4.1
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts}
  prettier --write: any of: **/*.{css,html,js,json,ts}
