Repository visjs/vis-dev-utils: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "**/*.{js,ts}": ["eslint --fix", "git add"],
  "**/*.{css,html,js,json,ts}": ["prettier --write", "git add"]
}

chore(deps): update dependency rollup to v2.21.0
  package-lock.json
  package.json
Due: prettier --write

fix(inspect-npm-pack): output reading race condition issues
  src/module/inspect-npm-pack.ts
Due: eslint --fix, prettier --write

chore(deps): install missing types
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/cheerio to v0.22.21
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup-plugin-analyzer to v3.3.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/mocha to v8
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @rollup/plugin-commonjs to v13.0.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @rollup/plugin-node-resolve to v8.4.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v3.6.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @rollup/plugin-strip to v2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update Prettier
  package-lock.json
  package.json
Due: prettier --write

style: reformat
  .eslintrc.js
  __snapshots__/test/generate-examples-index/basic.test.ts.js
  babel-preset/index.js
  babel.config.js
  rollup.config.js
  src/babel-register/index.ts
  src/generate-examples-index/cli.ts
  src/generate-examples-index/content-builder/builder.ts
  src/generate-examples-index/content-builder/html/index.ts
  src/generate-examples-index/content-builder/md/index.ts
  src/generate-examples-index/content-builder/playground/codepen.ts
  src/generate-examples-index/content-builder/playground/data.ts
  src/generate-examples-index/content-builder/screenshots/index.ts
  src/generate-examples-index/index.ts
  src/generate-examples-index/paths.ts
  src/module/generate-rollup-configuration/index.ts
  src/module/header.ts
  src/module/inspect-npm-pack.ts
  test/generate-examples-index/basic.test.ts
  test/package.test.ts
Due: eslint --fix, prettier --write

chore(git-hooks): remove prepush check
  package.json
Due: prettier --write

chore(deps): update dependency @rollup/plugin-commonjs to v13.0.2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @rollup/plugin-commonjs to v14
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup-plugin-postcss to v3.1.3
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update babel monorepo to v7.10.5
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency typescript to v3.9.7
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.22.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency prettier to v1.19.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency prettier to v2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update Prettier to v2 (#242)
  .eslintrc.js
  __snapshots__/test/generate-examples-index/basic.test.ts.js
  babel-preset/index.js
  babel.config.js
  package-lock.json
  package.json
  rollup.config.js
  src/babel-register/index.ts
  src/generate-examples-index/cli.ts
  src/generate-examples-index/content-builder/builder.ts
  src/generate-examples-index/content-builder/html/index.ts
  src/generate-examples-index/content-builder/md/index.ts
  src/generate-examples-index/content-builder/playground/codepen.ts
  src/generate-examples-index/content-builder/playground/data.ts
  src/generate-examples-index/content-builder/screenshots/index.ts
  src/generate-examples-index/index.ts
  src/generate-examples-index/paths.ts
  src/module/generate-rollup-configuration/index.ts
  src/module/header.ts
  src/module/inspect-npm-pack.ts
  test/generate-examples-index/basic.test.ts
  test/package.test.ts
Due: eslint --fix, prettier --write

chore(git-hooks): remove prepush check (#243)
  package.json
Due: prettier --write

fix(inspect-npm-pack): output reading race condition issues (#234)
  package-lock.json
  package.json
  src/module/inspect-npm-pack.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  376576f26cb1362de3a3191858dc00cfc08a22d5
Due: none

chore(deps): update dependency eslint to v7.5.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.22.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v3.7.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.22.2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/chai to v4.2.12
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.23.0
  package-lock.json
  package.json
Due: prettier --write

fix(babel): rewrite Browserlist query
  babel-preset/index.js
Due: eslint --fix, prettier --write

fix(babel): rewrite Browserlist query (#256)
  babel-preset/index.js
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  8f7b0e3b80e34703c6c43931ef68be02df2ab653
Due: none

chore(deps): update typescript-eslint monorepo to v3.7.1
  package-lock.json
  package.json
Due: prettier --write

fix(generate-examples): some minor improvements
  src/generate-examples-index/index.ts
  test/generate-examples-index/basic.test.ts
Due: eslint --fix, prettier --write

chore(deps): update dependency mocha to v8.1.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update babel monorepo to v7.11.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/mocha to v8.0.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency eslint to v7.6.0
  package-lock.json
  package.json
Due: prettier --write
