Repository visjs/vis-dev-utils: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "**/*.{js,ts}": ["eslint --fix", "git add"],
  "**/*.{css,html,js,json,ts}": ["prettier --write", "git add"]
}

Notes added by 'git notes add'
  baf64ca13c7b7c08f18abcdb44abde6508b8312d
Due: none

chore(deps): update dependency rollup to v2.26.3
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v3.9.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/mocha to v8.0.3
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.26.4
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency @babel/core to v7.11.4
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency typescript to v4
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  51c2f936a80f34587a92cd913ecafb99deda35e3
Due: none

chore(deps): update dependency @types/sinon to v9.0.5
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.26.5
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency rollup-plugin-postcss to v3.1.6
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  52260c498419ab553397ef9f19c5caf809513a7f
Due: none

chore(deps): update typescript-eslint monorepo to v3.10.0
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency jimp to v0.16.1
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f264b77e555bb96ed77cf124cc169c0e42b01b38
Due: none

chore(deps): update dependency rollup to v2.26.8
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency rollup-plugin-terser to v7
  package-lock.json
  package.json
Due: prettier --write

perf(examples-index): ditch Pageres and use Puppeteer directly
  package-lock.json
  package.json
  src/generate-examples-index/content-builder/builder.ts
  src/generate-examples-index/content-builder/common.ts
  src/generate-examples-index/content-builder/index.ts
  src/generate-examples-index/content-builder/screenshots/index.ts
  src/generate-examples-index/content-builder/screenshots/screenshot-script.js.txt
  src/generate-examples-index/index.ts
  src/generate-examples-index/types.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix(deps): update rollup-plugin-terser
  package-lock.json
  package.json
  src/module/generate-rollup-configuration/index.ts
Due: eslint --fix, prettier --write

fix(deps): update rollup-plugin-terser (#310)
  package-lock.json
  package.json
  src/module/generate-rollup-configuration/index.ts
Due: eslint --fix, prettier --write

chore(deps): update Prettier to v2.1.1
  package-lock.json
  package.json
Due: prettier --write

style: reformat
  __snapshots__/test/generate-examples-index/basic.test.ts.js
  src/generate-examples-index/content-builder/playground/codepen.template.html
  src/generate-examples-index/content-builder/playground/jsfiddle.template.html
Due: eslint --fix, prettier --write

chore(deps): update Prettier to v2.1.1 (#311)
  __snapshots__/test/generate-examples-index/basic.test.ts.js
  package-lock.json
  package.json
  src/generate-examples-index/content-builder/playground/codepen.template.html
  src/generate-examples-index/content-builder/playground/jsfiddle.template.html
Due: eslint --fix, prettier --write

chore(deps): update dependency mocha to v8.1.3
  package-lock.json
  package.json
Due: prettier --write

chore: fix merging error
  package-lock.json
Due: prettier --write

Notes added by 'git notes add'
  284eff1bb6886b943a1c9e5229b0f7d50f6c9b2e
Due: none

chore(deps): update dependency @types/prettier to v2.1.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency lint-staged to v10.2.13
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v3.10.1
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency rollup-plugin-postcss to v3.1.8
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7255a32071cde3bb0b4ad76829d5ed4fa92b3e03
Due: none

perf(examples-index): ditch Pageres and use Puppeteer directly (#309)
  package-lock.json
  package.json
  src/generate-examples-index/content-builder/builder.ts
  src/generate-examples-index/content-builder/common.ts
  src/generate-examples-index/content-builder/index.ts
  src/generate-examples-index/content-builder/screenshots/index.ts
  src/generate-examples-index/content-builder/screenshots/screenshot-script.js.txt
  src/generate-examples-index/index.ts
  src/generate-examples-index/types.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  c901164859972b96944b7d7b835eda3f69be6244
Due: none

fix(deps): update babel monorepo to v7.11.5
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f4ba4024c8ef498b7925c441bcdf8c3bcd1213ae
Due: none

chore(deps): update dependency eslint to v7.8.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.26.9
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency eslint to v7.8.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency lint-staged to v10.3.0
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency @babel/core to v7.11.6
  package-lock.json
  package.json
Due: prettier --write
