Repository visjs/vis-dev-utils: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(deps): update babel monorepo to v7.15.0
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f7/fe3da6a0b27daf830fbadec600fc23ecf7f1b8
Due: none

chore(deps): update dependency rollup to v2.56.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.56.1
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update typescript-eslint monorepo to v4.29.1
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  31/038c2d9e0388132ae8c81cab8c2b4abb30659f
Due: none

chore(deps): update dependency rollup to v2.56.2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency mocha to v9
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update babel monorepo to v7.15.3
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency @rollup/plugin-commonjs to v20
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  87/3e03fbea5997744993f8a68cbdcaf55de75e30
Due: none

fix(deps): update dependency @rollup/plugin-node-resolve to v13
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  eb/4e6201b39a2b6ad506d493b3c8c53116a3d00f
Due: none

chore(deps): update dependency fs-extra to v10
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a8/f8f04dac47f15daab83388cd5012fe655afecb
Due: none

fix(deps): update dependency eslint-plugin-jsdoc to v36
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/npm to v7
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5c/9563e752023aae0f4ce300e6fc63fb45cffc79
Due: none

chore(deps): update dependency @types/sinon to v10
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency sinon to v11
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency lint-staged to v11
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update typescript-eslint monorepo to v4.29.2
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1a/a2f782cae268a1e73748528aa9133bc6582344
Due: none

chore(deps): update dependency mocha to v9.1.0
  package-lock.json
  package.json
Due: prettier --write

feat!: update
  .circleci/config.yml
  .eslintrc.js
  .husky/pre-commit
  __snapshots__/test/generate-examples-index/basic.test.ts.js
  eslint-shareable-config/index.js
  package-lock.json
  package.json
  public/interop/base-config.json
  renovate.json
  src/ci-utils/index.ts
  src/generate-examples-index/cli.ts
  src/generate-examples-index/content-builder/builder.ts
  src/generate-examples-index/content-builder/html/index.ts
  src/generate-examples-index/content-builder/playground/data.ts
  src/generate-examples-index/content-builder/screenshots/index.ts
  src/generate-examples-index/index.ts
  src/generate-examples-index/types.ts
  src/module/generate-rollup-configuration/index.ts
  src/module/header.ts
  src/test-e2e-interop/cli.ts
  src/test-e2e-interop/index.ts
  src/test-e2e-interop/test.ts
  src/test-e2e-interop/util.ts
  test/generate-examples-index/basic.test.ts
Due: eslint --fix, prettier --write

fix(deps): update dependency eslint-plugin-prettier to v3.4.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/cheerio to v0.22.30
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency cheerio to v1.0.0-rc.10
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency rollup-plugin-postcss to v4.0.1
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency prettier to v2.3.2
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency eslint-config-prettier to v8
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency postcss-assets to v6
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency puppeteer to v10
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency yargs to v17
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a7/0ea9f8a7602ef8e531bf0121f67a0ff9997a42
Due: none

feat!: update (#709)
  .circleci/config.yml
  .eslintrc.js
  .husky/pre-commit
  __snapshots__/test/generate-examples-index/basic.test.ts.js
  eslint-shareable-config/index.js
  package-lock.json
  package.json
  public/interop/base-config.json
  renovate.json
  src/ci-utils/index.ts
  src/generate-examples-index/cli.ts
  src/generate-examples-index/content-builder/builder.ts
  src/generate-examples-index/content-builder/html/index.ts
  src/generate-examples-index/content-builder/playground/data.ts
  src/generate-examples-index/content-builder/screenshots/index.ts
  src/generate-examples-index/index.ts
  src/generate-examples-index/types.ts
  src/module/generate-rollup-configuration/index.ts
  src/module/header.ts
  src/test-e2e-interop/cli.ts
  src/test-e2e-interop/index.ts
  src/test-e2e-interop/test.ts
  src/test-e2e-interop/util.ts
  test/generate-examples-index/basic.test.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  b8/b03af417465b97136933717bde180b6e04236c
Due: none

chore(deps): update dependency rollup to v2.56.3
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v4.29.3
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency eslint-plugin-jsdoc to v36.0.8
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts}
  prettier --write: any of: **/*.{css,html,js,json,ts}
